<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"href="{{url_for('static', filename = 'style.css'}}">
    <title> My First Page</title>
</head>
<body>
<form method="post" action="/">
    {% if p_list %}
        {% for p_name, p_city in p_list %}
            {% if p_city == city %}
                <p>{{ p_name }} ({{ p_city }})</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Список учасників не передано</p>
    {% endif %}
</form>
</body>
</html>